.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.preview-box {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.preview-box img,
.preview-box audio {
    max-width: 768px;
    width: 100%;
    border-radius: 8px;
}

.meta-box-wrapper{
    width: 100%;
}

.meta-box {
    background: #fafafa;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    font-size: 14px;
}

.back-btn {
    padding: 10px 20px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.back-btn:hover {
    background: #005fcc;
}

.action-group{
    padding: 16px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.group-half{
    width: 50%;
}

.delete-group{
    display: flex;
    justify-content: end;
}