body {
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container {
    width: 300px;
    margin: 120px auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
    text-align: center;
}

.login-container h1 {
    margin-bottom: 5px;
    font-size: 26px;
}

.login-container h3 {
    margin-top: 0;
    font-size: 14px;
    font-weight: normal;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background: #0077ff;
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.login-container button:hover {
    background: #005fcc;
}

.error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
.signupwrapper{
    padding-top: 16px;
}
/* ============================
   NAVBAR
   ============================ */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #0077ff;
    color: white;
    align-items: center;
}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
}

.navbar .nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}
.btn{
    margin-top: 20px;
    padding: 10px 20px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}